.accordion > section {
  padding: 0 3rem;
}

.accordion > section > input:not(:checked) ~ .detail-leaf {
  display: none;
}

.accordion > section > input:checked ~ p label::after {
  transform: rotate(180deg);
}

.accordion > section > input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.accordion > section > p {
  margin: 0;
  padding: 0;
}

.accordion > section > h2 label {
  display: block;
  margin: 0;
  padding: 1rem 0;
}

.accordion > section > input:focus ~ h2 label {
  outline: var(--cdli-blue) auto 1px;
}

.accordion > section > p label::after {
  content: '\f107';
  display: inline-block;
  font-family: 'fontawesome';
  font-size: 1.5rem;
  margin-left: 1rem;
  vertical-align: middle;
}
