// Enable grid css
// scss-lint:disable PropertySpelling
.alphabetical-anchors {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(3, 1fr);

  > div {
    margin-bottom: 2rem;
  }

  a {
    display: block;
    font-size: 1rem;
    margin-left: 0.5rem;
    text-align: left;
    width: fit-content;
  }

  span {
    display: block;
    font-size: 1.5rem;
    margin-left: 0.5rem;
    text-align: left;
    text-transform: uppercase;
  }
}

@media only screen and (max-width: 992px) {
  // Enable grid css
  // scss-lint:disable PropertySpelling
  .alphabetical-anchors {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  // Enable grid css
  // scss-lint:disable PropertySpelling
  .alphabetical-anchors {
    gap: 1rem;
    grid-template-columns: 1fr;
  }
}
